* {
    margin: 0;
}

body {
    background-color: antiquewhite;
    font-family: 'Outfit', sans-serif;
    font-size: small;
    line-height: 1.5;
}

section {
    background-color: #fff;
    width: 50%;
    margin: auto;
    padding: 2em;
    border-radius: 10px;
    margin-top: 5em;
    margin-bottom: 5rem;
}

.main-content img {
    width: 100%;
    border-radius: 10px;
}

h1 {
    font-family: 'Young Serif', sans-serif;
    font-size: x-large;
    padding: .75em 0;
}

.preparation-time-container {
    background-color: rgb(251, 239, 252);
    padding: 1em;
    margin: 1em;
    border-radius: 10px;
}

.content-subtitle {
    font-family: 'Young Serif', sans-serif;
    color: rgb(87, 34, 34);
    padding-bottom: .5em;
    
}

.subcontent {
border-bottom: 1px solid rgb(189, 189, 189);
margin-bottom: 1em;
}

.nutrition-container {
    border-bottom: none;
}

.nutrition-container table {
    width: 100%;
    border-collapse: collapse;
}

.nutrition-container tr {
    border-bottom: 1px solid rgb(189, 189, 189);
}

.nutrition-container tr:last-child {
    border-bottom: none;
}

.nutrition-container td {
    padding: .5em 2em;
}

.nutrient-value {
    color: rgb(87, 34, 34);
    font-weight: bold;
}


/* Media Queries */
@media only screen and (max-width: 430px) {
body {
    background-color: #fff;
    margin: 0rem;
    padding: 0rem;
    max-width: 100%;

};

.section {
    width: 100%;
}
.main-content {
width: 100%;
margin: 0rem; 
padding: 0rem; 
}

.main-content img {
    width: 100%;
}

.main-content h1, .main-content p, .subcontent {
    padding: 1em;
}


}